
.QRcode {
  background-color: #hsl(0, 0%, 100%);
  position: relative;
  width: 400px;
  height: 400px;
  margin-left: -42px;
  margin-top: 10px;
  margin-bottom: 200px;
  border-radius: 30px;
}

.QRchild {
  background-color: hsl(0, 0%, 100%);
  position: relative;
  width: 400px;
  height: 700px;
  margin-left: 100px;
  margin-right: 200px;
  border-radius: 40px;
  padding-left: 60px;
  padding-right: 80px;
  width: 300px;
}

.QRparent {
  background-color: hsl(212, 45%, 89%);
  padding-left: 100px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.text {
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
  font-family: 'Nunito', sans-serif;
  margin-top: -180px;
}

.text2 {
  color: #748DA6;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  margin-top: -05px;
}
